body {
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: burlywood;
    font-family: "Quicksand";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #A52;
    font-weight: 800;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.flex-container {
    display: flex;
    background-color: burlywood;
}

.flex-container div {
    background-color: bisque;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    flex-grow: 1;
}

.flex-container img {
    flex-grow: 0 !important;
    object-fit: cover;
    width: 400px;
    height: 400px;
}

.flex-static {
    flex-grow: 0 !important;
}

.center {
    text-align: center;
}

#recipeIngredients li {
    display: flex;
}

#recipeIngredients li .ingredient-amount {
    width: 6em;
}